* {
	padding: 0;
	margin: 0;
	border: 0;
	}
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
:focus,:active {
	outline: none;
	}
a:focus,a:active {
	outline: none;
	}
nav,footer,header,aside {
	display: block;
	}
html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	}
input,button,textarea {
	font-family:inherit;
	}
input::-ms-clear {
	display: none;
	}
button {
	cursor: pointer;
	}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
	}
a, a:visited {
	text-decoration: none;
	}
a {
	color:inherit;
	}
a:hover {
	text-decoration: none;
	}
ul li {
	list-style: none;
	}
img {
	vertical-align: top;
	}
h1,h2,h3,h4,h5,h6 {
	font-size:inherit;
	font-weight: 400;
	}
body {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 16px;
	line-height: 1.42;
	background-color: #17191C;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.wrapper {
	overflow: hidden;
	min-width: 1200px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper__content {
	position: relative;
	flex: 1;
}
.background__1 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	filter: grayscale(1);
	box-shadow: inset 0px -46px 50px #17191C;
}
.background__2 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -50px;
	filter: grayscale(1);
	box-shadow: inset 0px -110px 80px #17191C;
}
.content {
	position: relative;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
hr {
	width: 1140px;
	margin: 0 auto;
	border-top: 1px solid rgb(255, 255, 255,.1);
}