.footer__container {
	height: 146px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.socials {
	display: flex;
	justify-content: space-between;
	min-width: 174px;
	position: relative;
}
.socials__item--icon--tg .socials__link:after {
	content: "";
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	background: url('../../img/css_sprites.png') -122px -10px;
	transition: .3s;
}
.socials__item--icon--tg .socials__link:before {
	content: "";
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	background: url('../../img/css_sprites.png') -122px -66px;
	opacity: 0;
	transition: .3s;
}
.socials__item--icon--tg .socials__link:hover::after {
	opacity: 0;
}
.socials__item--icon--tg .socials__link:hover::before {
	opacity: 1;
}
.socials__item--icon--vk .socials__link:after {
	content: "";
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	background: url('../../img/css_sprites.png') -10px -122px;
	transition: .3s;
}
.socials__item--icon--vk .socials__link:before {
	content: "";
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	background: url('../../img/css_sprites.png') -66px -122px;
	opacity: 0;
	transition: .3s;
}
.socials__item--icon--vk .socials__link:hover::after {
	opacity: 0;
}
.socials__item--icon--vk .socials__link:hover::before {
	opacity: 1;
}
.socials__item--icon--fac .socials__link:after {
	content: "";
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	background: url('../../img/css_sprites.png') -10px -10px;
	transition: .3s;
}
.socials__item--icon--fac .socials__link:before {
	content: "";
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	background: url('../../img/css_sprites.png') -66px -10px;
	opacity: 0;
	transition: .3s;
}
.socials__item--icon--fac .socials__link:hover::after {
	opacity: 0;
}
.socials__item--icon--fac .socials__link:hover::before {
	opacity: 1;
}
.socials__item--icon--inst .socials__link:after {
	content: "";
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	background: url('../../img/css_sprites.png') -10px -66px;
	transition: .3s;
}
.socials__item--icon--inst .socials__link:before {
	content: "";
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	background: url('../../img/css_sprites.png') -66px -66px;
	opacity: 0;
	transition: .3s;
}
.socials__item--icon--inst .socials__link:hover::after {
	opacity: 0;
}
.socials__item--icon--inst .socials__link:hover::before {
	opacity: 1;
}
.socials__link {
	display: block;
	width: 36px;
	height: 36px;
	background: center center no-repeat;
}
.contacts__add-information {
	font-size: 11px;
	color: #9A9A9A;
	margin-bottom: 5px;
}

.footer__container--height {
	height: 132px;
}