.form__row {
	display: flex;
	margin-bottom: 26px;
}
.form__input {
	flex: 1;
	background-color: #fff;
	padding: 20px 30px;
	border-radius: 5px;
	margin-right: 28px;
	color: #1A1B1E;
	font-size: 18px;
	line-height: 25px;
	border: 1px solid transparent;
}
.form__input::placeholder{
	color: #666;
}
.form__input:last-child {
	margin-right: 0;
}
.form__input:focus {
	border-color: #8F00FF;
}

.form__input--textarea {
	height: 235px;
}
.form__controls {
	display: flex;
	margin-bottom: 25px;
}
.form__controls-title {
	width: 31%;
	font-size: 18px;
	line-height: 24.5px;
	color: #1A1B1E;
	margin-right: 27px;
}
.control {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}
.control__item {
	margin-right: 7px;
}
.control__elem {
	cursor: pointer;
}
.control__checkbox {
	display: none;
}
.control__checkbox:checked ~ .control__tag {
	background-color: #B9EAE4;
}
.form__btns {
	display: flex;
	justify-content: flex-end;
}
.form__btn {
	margin-right: 17px;
}
.form__btn:last-child {
	margin-right: 0;
}