.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	margin-bottom: 30px;
}
.logo {
	width: 168px;
	height: 27px;
}
.menu {
	min-width: 391px;
}
.menu__list {
	display: flex;
	justify-content: space-around;
}
.menu__link {
	font-size: 16px;
	transition: color .3s;
}
.menu__link:hover {
	color: #8F00FF;
}
.contacts {
	display: flex;
	flex-direction: column;
	align-items: end;
	font-style: normal;
	line-height: 1.02;
}
.contacts__phone {
	font-size: 26px;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown__menu {
	position: absolute;
	background-color: #EDEDED;
	width: 160px;
	padding: 15px 19px;
	margin-top: 7px;
	border-radius: 5px;
	top: 100%;
	right: -9999px;
	opacity: 0;
	transition: opacity .3s;
}
.dropdown:hover .dropdown__menu {
	right: 0;
	opacity: .8;
}
.dropdown__link {
	display: block;
	font-size: 13px;
	text-decoration: underline;
}
.dropdown__item {
	font-size: 13px;
	line-height: 21px;
	font-weight: 600;
	color: #1E1F20;
}
.dropdown__item--weight {
	font-weight: 700;
}