.hello {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hello__background {
	background: #17191C url('../../img/background_1.png') center center / cover no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: grayscale(1);
}
.hello__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: animation_translate 1s ease-out, animation_opacity .5s linear forwards;
}
@keyframes animation_translate {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-30px);
	}
	35% {
		transform: translateY(0);
	}
	55% {
		transform: translateY(-15px);
	}
	65% {
		transform: translateY(0);
	}
	70% {
		transform: translateY(-5px);
	}
	80% {
		transform: translateY(0);
	}
}
@keyframes animation_opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.hello__logo {
	display: block;
	width: 338px;
	height: 143px;
}
.hello__img {
	width: 338px;
	height: 143px;
	object-fit: contain;

}
.hello__button {
	padding: 18px 58px;
}