.news {
	margin-bottom: 95px;
}
.title {
	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
	margin-bottom: 52px;
}
.title--new::after {
	content: '';
	width: 42px;
	height: 42px;
	display: inline-block;
	background: url(../img/new.png) no-repeat;
	vertical-align: middle;
	margin-left: 11px;
}
.news__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	min-height: 450px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
}
.news__card {
	width: calc(100%/3 - 18px);
}
.card__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 144px;
	background-color: #000;
}
.card__header--background {
	background-color: #150A18;
}
.card__img {
	display: block;
	margin: 0 auto;
}
.card__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 35px 34px 26px 22px;
}
.card__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 32.68px;
	color: #000;
	margin-bottom: 21px;
}
.card__list {
	display: flex;
	justify-content: space-between;
}
.card__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}
.card__icon {
	margin-right: 10px;
}
.card__text {
	color: #666;
}
.card__about {
	font-size: 14px;
	line-height: 21px;
	color: #303030;
	margin-bottom: 22px;
}
.card__button {
	margin-top: auto;
}