.paginator {
	display: flex;
	justify-content: center;
	align-items: center;
}
.paginator__display {
	margin-right: 26px;
}
.paginator__list {
	display: flex;
	align-items: center;
}
.paginator__item {
	text-align: center;
}
.paginator__link {
display: block;
width: 32px;
height: 32px;
border-radius: 50%;
font-weight: 700;
line-height: 32px;
}
.paginator__item--current .paginator__link {
	background-color: #8F00FF;
}
.paginator__link:hover{
	background-color: #8F00FF;
}

.paginator__display--color {
	color: #000;
}
.paginator__link--color {
	color: #000;
}
.paginator__item--current .paginator__link--color, .paginator__link--color:hover {
	color: #fff;
}